.BannerSetion_container {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #eee;
  height: 200px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.BannerSetion_innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BannerSetion_hedingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BannerSetion_btn_Box button {
  padding: 5px 20px;
  background-color: var(--color-brand-blue);
  border: none;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
