.filed_container {
  display: flex;
  font-size: 1.8rem;
  margin: 10px 0px;
  padding: 10px;
}

/* .main_lable {
  min-width: 200px;
} */

.labe_Box {
  width: 30%;
}

.radio_valueBox {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.radioBox {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.radioBox label {
  margin-right: 10px;
}

.radio_inputs_box {
  margin: 0px 10px;
}

.text_inputBox {
  width: 250px;
}

.text_inputBox input {
  width: 100%;
}

.main_lable {
  width: 300px;
}

@media screen and (max-width: 590px) {
  .filed_container {
    flex-direction: column;
  }

  .labe_Box {
    margin-bottom: 10px;
    font-weight: 500;
  }
}
