.UserAdminLayout_NavBar {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0px;
  z-index: 100 !important;
  position: fixed;
}

.navbar_HangburgBox {
  color: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.NavBarLogoBox {
  display: flex;
  min-width: 300px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.navLogo_Box {
  width: 150px;
  height: 35px;
  position: relative;
}

.NavBarCenter_part {
  width: 50%;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.NavBarSearchInput_Box {
  width: 75%;
}

.navBarEnquire_Box {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavbarRigtBox {
  width: 25%;
  height: 50px;
  display: flex;
  align-items: center;
}

.linkStyle {
  color: #ffff;
  text-decoration: none;
}

.linkStyle:hover {
  color: #ffff;
  text-decoration: none;
}
.bell {
  color: #5073fb;
  background-color: rgb(80, 115, 251, 0.2);
}

.user {
  color: #f1d243;
  background-color: rgb(241, 210, 67, 0.2);
}

.chat {
  color: #70d7a5;
  background-color: rgba(112, 215, 165, 0.2);
}

/* main layout */
.UserAdminLayout_main {
  position: relative;
  width: 100%;
  min-height: calc(900px - 60px);
  min-height: 100%;
  background-color: transparent;
}

/* Sidebar css */
.UserAdminLayout_sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  border: 1px solid #eee;
  z-index: 1;
  padding: 60px 0px 10px 0px;
}

.SideBarDrawe_main_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.SideBarDrawe_main_Container ul {
  padding: 0px;
  margin: 0px;
}

.active {
  width: 45px;
  overflow: hidden;
  padding-left: 1px;
  align-items: center;
}

.sideBarItem {
  display: none;
}

.UserAdminLayout_sidebar li {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.UserAdminLayout_sidebar a {
  text-decoration: none;
  font-size: 2rem;
}

.UserAdminLayout_sidebar a span {
  text-decoration: none;
}

.UserAdminLayout_li {
  width: 100%;
}

.UserAdminLayout_sidebar_items {
  padding: 0;
  margin: 0;
}

.UserAdminLayout_sidebar_bottom_items a,
.UserAdminLayout_sidebar_items a {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #000;
  padding: 0px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.4rem;
}

.UserAdminLayout_sidebar_bottom_items a:hover,
.UserAdminLayout_sidebar_items a:hover {
  background-color: #5073fb;
  color: #fff;
}

.UserAdminLayout_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 2rem;
  height: 100%;
  width: 40px;
}

.UserAdminLayout_iconHide {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 100%;
}

.UserAdminLayout_sidebar_item {
  display: flex;
  height: 100%;
  align-items: center;
}

.UserAdminLayout_sidebar_itemHide {
  display: none;
}
.sideBarIcon1 {
  color: #a280e9;
}
.sideBarIcon2 {
  color: #c5bc58;
}
.sideBarIcon3 {
  color: #85ade3;
}

.UserAdminLayout_main_content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100%);
  transition: 0.3s;
  padding-left: 60px;
  margin-top: 50px;
}

.content_container {
  width: 100%;
  transition: 0.3s;
  padding-left: 60px;
}

.layout_Footer_Container {
  position: relative;
  bottom: 10px;
  left: 0px;
  margin-top: 100px;
}

.layout_Dekstop_Footer {
  display: block;
}

.layOut_Mobile_Footer {
  display: none;
}

@media screen and (max-width: 690px) {
  .UserAdminLayout_NavBar {
    padding: 0px 0px;
    z-index: 100 !important;
  }
  .NavBarLogoBox {
    min-width: 100px;
  }

  .navLogo_Box {
    width: 80px;
    height: 20px;
    position: relative;
  }
  .navbar_HangburgBox {
    width: 30px;
  }

  .NavBarCenter_part {
    display: none;
  }
  .UserAdminLayout_sidebar {
    transform: translateX(0);
    width: 180px;
    padding-left: 0px;
    z-index: 1;
  }

  .active {
    transform: translateX(-100%);
    z-index: 1;
  }
  .sideBarItem {
    display: block;
  }

  .UserAdminLayout_main {
    width: 100%;
  }
  .UserAdminLayout_main_content {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100%);
    width: 100% !important;
    transition: 0.3s;
    padding: 0px;
    z-index: -1;
    margin-top: 50px;
  }

  .content_container {
    /* width: calc(100%); */
    width: 100% !important;
    transition: 0.3s;
    padding: 0px;
  }

  .layout_Dekstop_Footer {
    display: none;
  }

  .layOut_Mobile_Footer {
    display: block;
  }
}
