/* Offcanvas_container_Style */
.Offcanvas_container_Style {
  width: 100% !important;
  height: 400px !important;
}

.location_fillter_container {
  display: flex;
}

.List_of_main_Location {
  width: 30%;
  border: 1px solid #eee;
  height: 100%;
  padding: 10px;
}

.Default_location_List_box {
  display: flex;
  margin: 10px 0px;
  font-size: 1.4rem;
}

.radio_box {
  margin-right: 10px;
}

.Search_Location_offcanvasBox {
  width: 100%;
}

.search_Input_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Location_searchInput_Box {
  width: 70%;
}

.search_Input_list input {
  width: 100%;
  padding: 7px;
  font-size: 1.4rem;
  font-family: Arial;
  outline: none;
}

.searchListUl {
  width: 70%;
  padding: 0px;
  overflow-y: auto;
}
.SearchList {
  border-bottom: 1px solid #eee;
  width: 100%;
  list-style: none;
  font-size: 1.4rem;
  margin: 5px 0px;
  display: flex;
  align-items: end;
  padding: 0px;
  height: 40px;
}

.SearchList:hover {
  background-color: #eee;
  cursor: pointer;
}

.result_Badge_Box {
  display: flex;
  justify-content: center;
}
.Badge_Box {
  width: 70%;
  margin: 10px 0px;
  font-size: 1.4rem;
}
.OffCanvasResult_Badge_Style {
  padding: 7px 15px;
  letter-spacing: 1.5px;
  font-family: Arial;
}

@media screen and (max-width: 590px) {
  .Offcanvas_container_Style {
    width: 100% !important;
    height: 100% !important;
  }
}
