.SortFillter_bar_container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  box-sizing: border-box;
}

.SortFillter_inner_container {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30px;
  border-radius: 20px;
}

.SortFillter_defaultBox,
.SortFillter_recentBox {
  width: 50%;
  border: 1px solid #eee;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  letter-spacing: 1.2px;
  border: 1px solid var(--trasprant-bg);
}

.SortFillter_activeBox {
  background-color: var(--color-brand-blue);
  color: #fff;
  font-weight: 400;
  transition: background-color linear 0.3s;
}

@media screen and (max-width: 590px) {
  .SortFillter_inner_container {
    width: 50%;
  }
}
