.NavItem {
  font-size: 1.4rem;
}

.RowContainer {
  height: 650px;
}

.apply_btnBox {
  position: absolute;
  bottom: 50px;
  right: 20px;
}

.apply_btnBox button {
  background-color: var(--color-brand-blue);
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: 1.3px;
  border: none;
  padding: 5px 20px;
  box-shadow: var(--box-shadow2);
}

.right_col {
  border: 1px solid #eee;
  overflow-y: auto;
}

.input_box {
  padding-right: 5px;
}

.input_box input {
  width: 100%;
  font-size: 1.2rem;
  padding: 3px;
  outline: none;
}

@media screen and (max-width: 690px) {
  .NavItem {
    font-size: 1.2rem;
  }

  .RowContainer {
    height: 500px;
  }

  .right_col {
    padding: 10px;
  }
}
