.dekstop_Form_Container {
  display: block;
}

.mobile_form_container {
  display: none;
}

.DekstopViewModel_container {
  display: flex;
  margin-top: 10px;
}

.categories_box {
  width: 50%;
  padding: 5px;
  background-color: #eee;
  height: 300px;
  overflow-y: scroll;
}

.form_container {
  width: 50%;
}

.form_inner_container {
  width: 100%;
  padding: 5px;
}

.input_filed_Box {
  margin-bottom: 10px;
}
.form_lable_Box {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.form_input_Box {
  width: 100%;
}

.form_input_Box input {
  width: 100%;
  font-size: 1.6rem;
  padding: 3px 5px;
}

.form_input_Box textarea {
  width: 100%;
  height: 150px;
  font-size: 1.6rem;
  padding: 3px 5px;
}

.form_btnBox {
  display: flex;
  justify-content: end;
  padding-right: 5px;
}
.form_btnBox button {
  width: 100px;
  font-size: 1.6rem;
  color: #fff;
  border: none;
  background-color: var(--color-brand-blue);
  box-shadow: var(--box-shadow2);
}

.Badge_Box {
  margin: 5px 0px;
}

.Bootstrap_Badge {
  font-size: 1.2rem;
  font-family: Arial;
  letter-spacing: 1.2px;
}

.input_ErrorBox {
  color: red;
  font-size: 1.4rem;
}

/* Mobile view */

@media (max-width: 899px) {
  .dekstop_Form_Container {
    display: none;
  }
  .mobile_form_container {
    display: block;
  }
  .MobileViewModel_container {
    width: 100%;
    padding: 5px;
  }

  .Moble_lableBox {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 5px;
  }
  .Mobile_inputBox {
    width: 100%;
  }

  .Mobile_inputBox input {
    width: 100%;
    font-size: 1.6rem;
    padding: 3px 5px;
  }

  .Mobile_inputBox textarea {
    width: 100%;
    font-size: 1.6rem;
    padding: 3px 5px;
    height: 150px;
  }

  .Mobile_btn_box {
    width: 100%;
    border: 1px solid var(--color-brand-blue);
    margin: 5px 0px;
    box-shadow: var(--box-shadow2);
  }

  .Mobile_btn_box .btn_div {
    width: 100%;
    font-size: 1.4rem;
    background-color: var(--color-brand-blue);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
  }

  .Mobile_btn_box button {
    width: 100%;
    font-size: 1.4rem;
    background-color: var(--color-brand-blue);
    color: #fff;
    border: none;
  }

  .Mobile_categories_FillterBox {
    padding: 5px 0px;
    height: 250px;
    overflow-y: auto;
  }
  .categories_back_btnBox {
    margin: 5px 0px 20px 0px;
  }

  .back_IconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-brand-blue);
    width: 50px;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--color-brand-blue);
    box-shadow: var(--box-shadow2);
    padding: 2px 0px;
  }
}
