.ProductSpiner_Container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductList_Banner_Container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 100%;
  box-sizing: border-box;
  background-color: #eee;
}

.ProductList_Banner_ImageBox {
  width: 100%;
  height: 120px;
  position: relative;
}

.Product_card_Banner_Container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
}

.Product_card_Banner_ImageBox {
  width: 100%;
  height: 120px;
  position: relative;
}

/* Location Bar  */
.ProductList_search_locationBar_Container {
  display: flex;
  box-shadow: var(--box-shadow2);
  width: 100%;
  background-color: #fff;
  min-height: 50px;
  margin: 30px 0px;
  box-sizing: border-box;
}

.location_RightBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.locationBox {
  display: flex;
  border: 1px solid var(--color-brand-blue);
  border-radius: 20px;
  padding: 3px 20px;
  background-color: var(--color-brand-blue);
  color: #fff;
  font-family: Arial;
  letter-spacing: 0.2rem;
  box-shadow: var(--box-shadow2);
}

.locationIconBox {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Location_TextBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  width: 70px;
}

.location_SearchBox {
  border: 2px solid gray;
  border-radius: 3px;
  width: 150px;
  height: 25px;
  position: relative;
  margin-right: 20px;
}

.location_SearchBox input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0px 20px;
}

.location_SerachIconBox {
  position: absolute;
  left: 5px;
  top: 3px;
}

.nearMeBox {
  display: flex;
}

.MobilenearMeBox {
  display: none;
}

.nearMe_Icon {
  padding: 0px 5px;
}

.nearMe_texBoxt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  min-width: 50px;
}

.location_cityBox {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  padding: 0px 20px;
  overflow-x: scroll;
}

.location_cityBox::-webkit-scrollbar {
  display: none;
}
.location_cityBox {
  height: 50px;
}

.cityBox {
  padding: 0px 10px;
  font-weight: 600;
  cursor: pointer;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ProductList_main_Container */

.ProductList_main_Container {
  display: flex;
  margin-bottom: 50px;
}

.ProductList_left_sideBar {
  display: block;
  width: 250px;
  height: 100%;
}

.product_centerBox {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ProductList_rightBox {
  display: block;
  width: 250px;
}

.card_container {
  display: block;
  box-shadow: var(--box-shadow2);
  width: 300px;
  height: 400px;
  padding: 10px;
  background-color: #fff;
  margin: 20px 10px;
}

.productImage_Box {
  border: 1px solid #eee;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 10px;
  position: relative;
}

.product_Card_Body {
  margin-top: 10px;
}

.Product_titleBox {
  font-weight: 500;
  font-size: 1.4rem;
}

.product_descreptionBox {
  font-size: 1.4rem;
  margin: 5px 0px;
  height: 45px;
  overflow: hidden;
}

.product_card_ComapnyDetails_Box {
  padding: 5px;
}

.Product_CompanyName_Box {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
}

.Product_company_LocationBox {
  display: flex;
  justify-content: center;
}

.Product_company_LocationBox span {
  margin: 0px 2px;
  font-size: 1.2rem;
}

.product_priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  margin-top: 5px;
}

.price_TextBox {
  font-size: 1.4rem;
  font-weight: 500;
  min-width: 40%;
}

.price_TextBox span {
  margin-right: 5px;
}

.card_Btn_BOX {
  border: 1px solid var(--color-brand-blue);
  background-color: var(--color-brand-blue);
  color: #fff;
  border-radius: 5px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_Btn_BOX button {
  background-color: var(--color-brand-blue);
  color: #fff;
  outline: none;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  text-align: center;
}

@media screen and (max-width: 1160px) {
  .card_container {
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 0px 0px 15px 0px;
    box-sizing: border-box;
  }

  .productImage_Box {
    width: 200px;
    height: 100%;
  }
  .product_Card_Body {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 690px) {
  .ProductList_Banner_Container {
    display: none;
  }

  .ProductList_left_sideBar {
    display: none;
  }

  .MobilenearMeBox {
    display: flex;
  }

  .location_SearchBox {
    width: 100%;
  }
  .cityBox {
    background-color: #eee;
    margin: 0px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.2rem;
  }
  .ProductList_Right_sideBar {
    display: none;
  }

  .ProductList_rightBox {
    display: none;
  }

  .ProductList_search_locationBar_Container {
    flex-direction: column;
  }

  .location_RightBox {
    margin-bottom: 10px;
  }

  .product_centerBox {
    width: 100%;
    display: block;
    padding: 0;
    box-sizing: border-box;
  }
}
