.SingleProduct_top_container {
  display: flex;
  margin: 10px 10px;
  flex-direction: row;
}

.SingleProduct_Image_container {
  width: 30%;
}

.SingleProduct_detail_container {
  width: 40%;
  padding: 10px 0px 10px 20px;
  flex-grow: 1;
  margin-right: 30px;
}

.SingleProduct_companyDetails_container {
  width: 20%;
  border: 1px solid #eee;
  order: 1;
  font-family: Arial;
}

.SingleProduct_ImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  box-shadow: var(--box-shadow3);
  position: relative;
}

.SingleProduct_PriceBox {
  margin-top: 20px;
}

.SingleProduct_Rs_iconBox {
  margin-right: 10px;
  font-size: 1.4rem;
}

.Related_Card_PriceBox {
  font-size: 1.4rem;
}

.SingleProduct_descreptionBox {
  font-size: 1.4rem;
}

.SingleProduct_btnBox {
  display: flex;
  justify-content: end;
  margin: 40px 0px;
}

.SingleProduct_enquiryBtn {
  padding: 10px 35px;
  color: #fff;
  background-color: #2874f0;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow2);
}

.SingleProduct_enquiryBtn:hover {
  background-color: rgba(45, 83, 235, 0.7);
}

.SingleProduct_companyDetails_container {
  padding: 5px;
  overflow: hidden;
}

.SingleProduct_comppany_logo_with_Gst {
  display: flex;
  margin: 15px 0px;
}

.SingleProduct_companyLogoBox {
  background-color: #eee;
  margin-right: 10px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: var(--box-shadow3);
}

.SingleProduct_company_Title {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.SingleProduct_Owner_StaticBox {
  display: flex;
}
.SingleProduct_ownerIconBox {
  padding: 5px 10px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.SingleProduct_static_Owner {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.SingleProduct_Owner_NameBox {
  font-size: 1.4rem;
}

.SingleProduct_static_AddressBox {
  display: flex;
  align-items: center;
}

.SingleProduct_static_addressIcon {
  padding: 5px 15px 5px 0px;
  color: var(--icon-color);
}

.SingleProduct_static_Address {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.singleProduct_Business_AddressBox {
  font-size: 1.4rem;
}

.SingleProduct_static_Box {
  margin-top: 10px;
}

/* Related product section start */
.SingleProduct_realted_prductContainer {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  display: flex;
  padding: 10px;
  overflow-x: scroll;
  flex-wrap: nowrap;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; /* ensure that the flex items stay in a single line */

  /* customize the scrollbar */
  scrollbar-width: none; /* hide the scrollbar in Firefox */
  -ms-overflow-style: none; /* hide the scrollbar in Edge */
}
.SingleProduct_realted_prductContainer::-webkit-scrollbar {
  width: 0px; /* hide the scrollbar in WebKit-based browsers */
}
/* add a custom scrollbar style */
.SingleProduct_realted_prductContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.Related_Product_CardContainer {
  flex: 0 0 200px;
  border: 1px solid #eee;
  margin: 0px 10px;
  height: 250px;
  box-shadow: var(--box-shadow3);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Related_Product_CardContainer > div:last-child {
  order: 999; /* set a higher order value for the last child element */
}

.Realted_CardImageBox {
  border: 1px solid #eee;
  display: flex;
  height: 120px;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.SingleProduct_Related_Card_title {
  margin-top: 10px;
  padding: 5px;
}

.SingleProduct_Related_Card_Price_Container {
  padding: 5px;
}

.SingleProduct_Related_Card_PriceBox {
  display: flex;
  align-items: center;
}

.SingleProduct_RelatedProduct_card_BtnBox {
  display: flex;
  justify-content: end;
  padding: 10px;
  /* margin-top: 10px; */
}
.SingleProduct_RelatedProduct_CardBtn {
  border: 1px solid #2874f0;
  padding: 5px 5px;
  color: #fff;
  background-color: #2874f0;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  box-shadow: var(--box-shadow2);
}

/* Related Product End */

.SingleProduct_Main_detailContainer {
  display: flex;
  margin: 100px 0px;
  justify-content: space-between;
  padding-right: 50px;
}

.SingleProduct_main_Details_container {
  width: 50%;
  min-height: 200px;
  box-shadow: var(--box-shadow3);
  padding: 10px;
}

.SingleProduct_ProductDetails_Box {
  display: flex;
}

.SingleProduct_ProductDetails_Title {
  margin-bottom: 20px;
}

.SingleProduct_ProductDetails_Box {
  margin: 10px 0px;
}

.SingleProduct_ProductDetails_staticFiled {
  border-bottom: 1px solid #eee;
  min-width: 50%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}

.SingleProduct_ProductDetails_DynimicValue {
  border-bottom: 1px solid #eee;
  min-width: 50%;
  display: flex;
  align-items: center;
}

.SingleProduct_Enquery_Form_Container {
  width: 45%;
  box-shadow: var(--box-shadow3);
}

.SingleProduct_EnqueryForm_Heading {
  border: 1px solid #eee;
  padding: 5px;
  background-color: var(--icon-color);
  color: #fff;
  font-family: Arial;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.SingleProduct_EnqueryForm_UserMail_container {
  display: flex;
}

.Enquery_To {
  padding: 10px;
  border: 1px solid #eee;
  width: 5%;
}

.EnqueryForm_EmailBox {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid #eee;
  width: 95%;
}

.SingleProduct_EnqueryForm_ProductDetails {
  display: flex;
  margin: 10px 0px;
}

.SingleProduct_EnqueryForm_imageBox {
  width: 10%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.Enquery_Form_ProductTitle {
  padding: 5px;
  display: flex;
  align-items: center;
}

.SingleProduct_mesasageContainer {
  border: 1px solid #eee;
  height: 170px;
  padding: 5px;
}

.SingleProduct_EnqueryForm_ProductDetails {
  padding: 5px;
}

.SingleProduct_mesasageContainer textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  border: none;
}

.Email_Send_btnBox {
  padding: 10px;
  display: flex;
  justify-content: end;
  padding: 10px;
}

.Enquery_Email_Send_btn {
  border: 1px solid #2874f0;
  background-color: #2874f0;
  color: #fff;
  box-shadow: var(--box-shadow2);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  font-size: 1.4rem;
}

.singleProduct_company_InfoBox {
  display: flex;
  margin: 10px 0px;
}
.singleProduct_company_Info_staticBox {
  min-width: 30%;

  display: flex;
  align-items: center;
}

.singleProduct_company_Info_DynimicBox {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  min-width: 60%;
}

.endPart {
  height: 100px;
}

.SendingEmail_loading_Container {
  width: 100%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  position: absolute;
  background: #eee;
  z-index: 10;
  padding: 0px;
  margin: 0px;
  font-size: 1.6rem;
}

.Home_page_Banner_Container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.Home_page_annerBox {
  width: 600px;
  height: 120px;
  position: relative;
}
@media screen and (max-width: 690px) {
  .SingleProduct_top_container {
    display: flex;
    flex-direction: column;
  }
  .SingleProduct_Image_container {
    width: 100%;
  }

  .SingleProduct_detail_container {
    width: 100%;
    padding: 10px 5px;
  }

  .SingleProduct_detail_container {
    width: 100%;
  }

  .SingleProduct_companyDetails_container {
    width: 100%;
  }

  .SingleProduct_enquiryBtn {
    width: 100%;
    text-align: center;
  }

  .SingleProduct_Main_detailContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .SingleProduct_main_Details_container {
    width: 100%;
    margin-bottom: 50px;
  }

  .SingleProduct_Enquery_Form_Container {
    width: 100%;
  }

  .singleProduct_GST_OWNER_Box {
    display: flex;
  }

  .SingleProduct_GstBox {
    display: flex;
    align-items: center;
  }
  .SingleProduct_GstBox h4 {
    margin-right: 5px;
  }
  .SingleProduct_ownerDetails {
    display: flex;
    align-items: center;
    margin: 0px 10px;
  }

  .SingleProduct_static_Owner {
    margin-right: 10px;
  }
  .SingleProduct_ownerIconBox {
    font-size: 0.8rem;
  }
  .SingleProduct_Owner_NameBox {
    font-size: 1.6rem;
  }
}
