.HomePageCategories_main_Container {
  width: 100%;
}

.HomePageCategories_dekstop_View {
  display: block;
  width: 100%;
}

.DcategoriseCards_main_continaer {
  width: 100%;
  border: 1px solid #eee;
  margin: 50px 0px;
  height: 400px;
  background-color: var(--trasprant-bg);
  box-shadow: var(--cat-box-shadow);
}

.DcategoriseCards_main_continaer {
  padding: 20px;
}

.DcategoriseCards_categories_Title {
  padding: 10px 0px;
}

.DcategoriseCards_categories_Title h1 {
  font-size: 2rem;
  font-weight: 500;
}

.DcategoriseCards_innerBox {
  width: 100%;
  display: flex;
  border: 1px solid #eaeaea;
  height: 300px;
}

.DcategoriseCards_main_ImageBox {
  width: 300px;
  box-sizing: border-box;
}

.categoriesImageStyle {
  width: 300px;
  height: 100%;
}

.categoriesCard_container {
  background-color: #fff;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.subCategories_CardBox {
  width: 250px;
  margin: 1% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  box-shadow: var(--cat-box-shadow);
}

.DSubCategoriesCards_ImageBox {
  border: 1px solid #eaeaea;
  width: 80%;
  height: 155px;
}

.DSubCategoriesCards_nameBox {
  margin-top: 5px;
  font-size: 1.8rem;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
}

.DSubCategoriesCards_ExploreBox {
  color: var(--green-color);
  letter-spacing: 1.5px;
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  cursor: pointer;
}
/* mobile hidden */

.HomePageCategories_mobile_view {
  display: none;
  width: 100%;
}

@media screen and (max-width: 1920px) {
  .subCategories_CardBox:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 1530px) {
  .subCategories_CardBox:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1180px) {
  .subCategories_CardBox:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .subCategories_CardBox:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .HomePageCategories_dekstop_View {
    display: none;
  }

  .HomePageCategories_mobile_view {
    display: block;
  }

  .MSubCategoriesCard_main_container {
    width: 100%;
    border: 1px solid #eee;
    margin: 50px 0px;
    height: 250px;
    background-color: var(--trasprant-bg);
    box-shadow: var(--cat-box-shadow);
    padding: 10px;
    box-sizing: border-box;
  }

  .McategoriseCards_categories_Title {
    padding: 5px 0px;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  .MSubCategoriesCard_inner_container {
    display: flex;
    height: 160px;
    box-shadow: var(--cat-box-shadow);
    background-color: #fff;
    box-sizing: border-box;
  }

  .MSubCategoriesCard_ImageBox {
    width: 200px;
    box-sizing: border-box;
  }
  .McategoriesImage {
    width: 200px;
    height: 100%;
  }

  .MSubCategoriesCard_Card_Container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    box-sizing: border-box;
  }

  .MSubCategoriesCards_ListContainer {
    width: 45%;
    box-sizing: border-box;
    margin: 5px;
    box-sizing: border-box;
  }
  .MSubCategoriesCards_subLists {
    display: flex;
    justify-content: space-between;
    margin: 3px 0px;
  }
  .MSub_NameBox {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .MSub_IconBox {
    width: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
