@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

html {
  font-size: 10px;
}

body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family:  var(--font-family);
}

html {
  padding: 0%;
  margin: 0%;
}

:root {
  --color-brand-blue: #2874f0;
  --color-white: #f0f0f0;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --box-shadow2: 0 2px 4px 0 rgb(0 0 0 / 23%);
  --container-box-shadow: 0 2px 4px 0 rgba(127, 75, 210, 0.23);
  --border-color-gray: #ebebeb;
  --container-padding-top-botoom: 15px;
  --container-padinng-right-left: 50px;
  --border-radius: 5px;
  --seconder-color: rgb(230, 69, 69);
  --icon-color: #393939;
  --categories-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  --trasprant-bg: rgba(40, 116, 240, 0.5);
  --cat-box-shadow : box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  --font-family: Roboto,Arial,sans-serif;
  --green-color: #388e3c;
  --theme-color : #697a8d;
  --admin-layout-width :calc(100% - (1.625rem * 2));
  --template-box-shadow: 0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
}
